<link rel="stylesheet" href="css/navbar.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add ">Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">My Profile</a>
          </li>
        
      </ul>

      <form class="form-inline my-2 my-lg-0 ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <form action="/logout" method="GET" class="form-inline my-2 my-lg-0">
        <span class="navbar-text" style="margin-right:14px; text-transform: uppercase;">Hello <%= name %> </span>
        <button class="btn btn-outline-secondary my-2 my-sm-0 black" type="submit">Logout</button>
      </form>
    </div>
  </nav>
<!-- category bar -->
  <ul class="nav justify-content-center py-3 navbar-light color">
    <li class="nav-item px-4">
      <a class="nav-link active color " href="/books ">Books And Resources</a>
    </li>
    <li class="nav-item px-4 ">
      <a class="nav-link color" href="/furniture">Furniture</a>
    </li>
    <li class="nav-item px-4">
      <a class="nav-link color" href="/stationary">Stationary</a>
    </li>
  </ul>