<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/add.css"> -->
    <title>ADD</title>
</head>
<body>
  <%- include('partials/header') %>
  <div class="container mt-5">
    <h1>ADD PRODUCT</h1>
  
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
  
            <!-- Makes POST request to /login route -->
            <form name="form1" action="/add"  method="POST" onload="funblur();" enctype="multipart/form-data">
              <div class="form-group">
                <label for="nop">Product Name</label>
                <input type="text" class="form-control" name="nop" id="nop" onblur="validate_nop();">
              </div>
              <select class=" form-group selectpicker dropdown show" data-style="btn-info" name="selectpicker" id="category">
                <optgroup class=" btn btn-secondary dropdown-toggle" label="Select category">
                  
                  <option class="dropdown-item" name="table1" value="Furniture">Furniture</option>
                  <option class="dropdown-item" name="table2" value="Stationary">Stationary</option>
                  <option class="dropdown-item" name="table3" value="Books">Books and Resources</option>
                </optgroup>
            </select>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="img" name="img" type="file" accept="image/*">
                  <label class="custom-file-label" for="img">Choose file</label>
                </div>
              </div>
              <div class="form-group">
                <label for="dop">Product Description</label>
                <textarea type="text" class="form-control" id="dop" name="dop" rows="6"></textarea>
              </div>
              <button type="submit" class="btn btn-dark" name="submit" id="submit" onsubmit="fun();">ADD</button>
            </form>
  
          </div>
        </div>
      </div>
  
    </div>
  </div>
<script src="js/addval.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>