<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/add.css">
    <title>add</title>
</head>
<body>
    
    <div class="container" >
        <h1>ADD PRODUCTS</h1>

    <form  name="form1" action="/add"  method="POST" onload="funblur();" enctype="multipart/form-data">
        <label for="nop">Name of the product</label>
        <input type="text" class="form-control" name="nop" id="nop" onblur="validate_nop();" >
        <select class="selectpicker dropdown show" data-style="btn-info" name="selectpicker" id="category">
            <optgroup class=" btn btn-secondary dropdown-toggle" label="Select category">
              
              <option class="dropdown-item" name="table1" value="Furniture">Furniture</option>
              <option class="dropdown-item" name="table2" value="Stationary">Stationary</option>
              <option class="dropdown-item" name="table3" value="Books">Books and Resources</option>
            </optgroup>
        </select>
        <br><br>
        
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*">
        <label for="dop">Description of the product</label>
        <textarea type="text" class="form-control" name="dop" id="dop" cols="35" rows="5"></textarea>
      
        <input type="submit" class="form-control" name="submit" id="submit" onsubmit="fun();">
    </form>
</div>
<script src="js/addval.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>