<%- include('partials/navbar2') %>
<%- include('partials/header') %>
<link rel="stylesheet" href="css/login.css">

<div class="container mt-5">
  <h1 id="loginheading">Register</h1>

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form name = "form1" action="/register" method="POST" onload="funblur();">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" onblur="validate_name();">
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" class="form-control" name="phone" id="phone" onblur="validate_phone();">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" onblur="validate_email();">
            </div>
            <div class="form-group">
              <label for="prn">PRN</label>
              <input type="text" class="form-control" name="prn" onblur="validate_prn();"> 
            </div>
            <div class="form-group">
              <label for="walink">Whatspp chat link</label> <a href="https://create.wa.link/"><em>Create</em></a>
              <input type="url" class="form-control" name="walink" onblur="validate_wa();">
            </div>            
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" onblur="validate_pass();">
            </div>
            <div class="form-group">
              <label for="confirmpassword">Confirm Password</label>
              <input type="password" class="form-control" name="confirmpassword" onblur="validate_cpass();">
            </div>
           
            <button  type="submit" class="btn btn-dark ">Register</button>
          
          </form>

        </div>
      </div>
    </div>

    
  </div>
</div>
<script src="js/register.js"></script>
<%- include('partials/footer') %>
