.nav-link.color{
    color: #FFFAFB;
}
.nav.justify-content-center.py-3.navbar-light.color{
    background-color: #339989;
  }
  .navbar.navbar-expand-lg.color{
      background-color: #131515;
  }
  
  .nav-link.color1{
    color: #FFFAFB;
  }
 
 